body {
	background-image: url_ver('../img/tile.png');
	background-size: 8px;	
	color: $gray-light;
	font-family: sans-serif;
	font-size: 13px;
}

.container {
	min-height: 100%;
}

/* 	Content - Posts, Pages, Comments
	------------------------------------------------------- */

h1 {
	font-family: 'SourceSansProSemibold', Helvetica;
	font-size: 32px;
}
nav {
	a {
		font-family: 'SourceSansProRegular', Helvetica;	
		font-size: 1rem;
		text-shadow: 1px 1px $gray-dark;
		text-decoration: none;

		&,
		&:hover,
		&:visited {
			color: $white;
		}
	}	
} 

/* Content - Left Column */
.post-date {
	float: left;
	margin: 15px 15px 0 0;
	width: 40px;

	ul {
		list-style-type: none;
		text-align: right;
		padding: 0;
		margin: 0;
	}
	.day {
		font-family: 'SourceSansProSemiBold';
		font-size: 30px;
		font-weight: normal;
		line-height: 30px;

	}
	.month {
		font-family: 'SourceSansProSemiBold';
		font-size: 18px;
		line-height: 18px;
		text-transform: uppercase;
		margin-top: -5px;
	}
	.year {
		font-family: 'SourceSansProSemiBold';
		font-size: 14px;
		line-height: 14px;
		margin-top: -2px;
	}
}

/** Posts Default
 -------------------------------------------------- */

.date-title {
	color: #999;
	font-size: 12px;
	font-weight: normal;
	margin: 0;
	padding: 10px;
	text-transform: uppercase;
	width: 50px;
}

article {
	font-family: 'SourceSansProRegular';
	font-size: 15px;
	margin: 0;
	padding: 0;
	position: relative;
	width: 100%;

	nav.post-menu {
		a {
			&,
			&:visited {
				color: #ccc;
			}
			&:hover {
				text-decoration: underline;
			}
			&.post-edit-link {
				background: transparent url_ver('../img/edit.png') center center no-repeat;
			}
			&.post-stick-link {
				background: transparent url_ver('../img/star.png') center center no-repeat;
			}
			&.post-delete-link {
				background: transparent url_ver('../img/delete.png') center center no-repeat;
			}
			&.post-delete-link,
			&.post-edit-link,
			&.post-save-link,
			&.post-stick-link {
				float: right;
				height: 100%;
				margin-left: 5px;
				padding-left: 2px;
				padding-right: 2px;
			}
			&.post-delete-link,
			&.post-edit-link,
			&.post-stick-link {
				color: transparent;
				height: 16px;
				margin: 0px;
				overflow: hidden;
				padding: 8px;
				text-indent: 100px;
				width: 15px;
				
				&:hover {
					background-color: #e0e0e0;
					text-decoration: none;
				}
				span {
					display: none;
				}
			}
		}
		.post-last-saved {
			color: #999;
			margin-left: 5px;
			
			&:hover {
				color: $white;
			}
		}
	}
	.post-date a {
		color: $gray;
		text-decoration: none;
	}
}

article.edit {
	.post-close-link {
		background: transparent url_ver('../img/close-static.png') center center no-repeat;
		color: transparent;
		height: 30px;
		overflow: hidden;
		position: absolute;
		right: 0;
		top: 0;
		width: 30px;
		&:hover {
			background: transparent url_ver('../img/close-hover.png') no-repeat center center;
		}
	}
}

.spinner {
	left: 0;
	position: absolute;
	top: 0;

	span {
		display: none;
	}
}

.content {
	nav.post-menu {
		background: $white;
		border: 1px solid #adadad;
		@include box-shadow(0px 1px 0 #eee);
		color: $white;
		height: 96px;
		margin-top: 40px;
		position: absolute;
		right: 153px;
		width: 31px;
		z-index: 1;
	}
	h1 {
		font-size: 20px;
	}
}

.edit {
	.post-content {
		background: #1a1a1a;
		border: 1px solid #adadad;
		min-height: 200px;	
		overflow: auto;
		padding: 0;
	}
}

.content,
.edit {
	margin-top: 30px;
}

.unstyled {
	border: 0;
	@include box-shadow(none);
}

.save-indicator {
	float: right;
	margin: 2px 10px 0 0;
	visibility: hidden;
}

.saving .save-indicator {
	visibility: visible;
}

.post-dirty {
	color: #baa;
	visibility: hidden;
}

.dirty .post-dirty {
	visibility: visible;
}

/* Deleted */

.deleted {
	.post-content {
		background: transparent;
		border: none;
		color: #666;
		margin-top: 30px;
		min-height: auto;
		padding-bottom: 0;
	}
	.msg {
		color: $gray;
		display: inline-block;
		font-family: 'SourceSansProRegular', Helvetica;
		font-size: 16px;
		margin-left: 25px;
		text-align: center;
	}
	.post-undelete-link {
		&,
		&:visited {
			background: $gray;
			color: $white;
			display: inline-block;
			font-size: 14px;
			margin-left: 12px;
			padding: 7px 13px 5px;
			text-decoration: none;
		}
	}
}

/* Content */

.post-content {
	background: $white;
	border: 1px solid #adadad;
	min-height: 150px;
	overflow: auto;
	padding: 0px 25px 25px 25px;
	position: relative;
}

.status {
	background: #232323;
	top: 0;
	height: 30px;
	line-height: 25px;
	left: 0;
	position: absolute;
	right: 0;

	p {
		color: #787878;
		font-size: 13px;
		margin: 3px 0 0 9px;
	}
	.dirty-indicator,
	.saving-indicator {
		display: none;
		font-family: 'SourceSansProBold';
		margin-left: 7px;
	}
}
.dirty .dirty-indicator {
	display: inline;
}
.saving .dirty-indicator {
	display: none;
}
.saving .saving-indicator {
	display: inline;
}

.close-content {
	height: 20px;
	border: 1px solid red;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

.edit .post-content {
	background: $gray-light;
	border: 1px solid #adadad;
	min-height: 200px;	
	overflow: auto;
	padding: 30px 0 0;
}

.sticky .post-content {
	background-image: url_ver('../img/sticky.png');
	background-repeat: no-repeat;
	background-position: 100% 0%;
}
.sticky-loading .post-content {
	background-image: url_ver('../img/sticky-loading.png');
	background-repeat: no-repeat;
	background-position: 100% 0%;
}

.sticky .post-stick-link {
	background: #eee url_ver('../img/star.png') center center no-repeat;
}
.excerpt {
	.post-content {
		cursor: pointer;
		max-height: 230px;
		overflow: hidden;
		position: relative;
	}
}
.toggleable {
	.post-toggle {
		bottom: 0;
		background-color: #eee;
		background-image: url_ver('../img/arrow-down.png');
		background-position: center center;
		background-repeat: no-repeat;
		cursor: pointer;
		display: block;
		height: 20px;
		left: 0;
		position: absolute;
		width: 100%;

		&:hover {
			background-color: #e0e0e0;
		}
	}
}
.open {
	.post-toggle {
		background-image: url_ver('../img/arrow-up.png');
	}
}
.edit,
.content {
	.post-meta {
		float: right;
		margin-top: 15px;
		padding: 0 0 0 15px;
		width: 142px;

		h3 {
			color: $gray;
			display: inline-block;
			font-family: 'SourceSansProBold';
			font-size: 14px;
			font-weight: bold;
			margin: 0 0 3px 0;
			line-height: 14px;
			text-transform: uppercase;
			width: 75px;
		}
		ul {
			padding: 0;
			margin: 0 0 20px;
		}
		li {
			list-style-type: none;
			margin-bottom: 2px;

			&:last-of-type {
				margin-bottom: 0;
			}

			a {
				font-size: 16px;
				line-height: 16px;
				text-decoration: none;
				text-shadow: none;
			}
		}
	}
}

.content,
.excerpt {
	nav.post-menu {
		display: none;	
	}
	&:hover {
		nav.post-menu {
			display: block;		
		}
	}
}

.post-meta a {
	&,
	&:visited {
		color: $gray;
		font-family: 'SourceSansProRegular';
		font-size: 16px;
		line-height: 20px;
	}
}

.post-content .ace-editor {
	position: relative;
	height: 400px;
	width: 100%;
}

.post-content .ace-twilight .ace_gutter {
	color: #676767;
}

.post-content .editor-padding {
	background: #232323;
	height: 3px;
}

/* Code */

pre {
	background: #f6f6f6;
	padding: 16px;
}

code {
	color: $gray;
	font-family: 'SourceCodeProRegular', Helvetica;
	font-size: 13px;
}

/* Static code */

.static_container {
	background-color: #eee;
	border: 1px solid $gray-light;
	margin-top: 5px;
	margin-bottom: 5px;
	position: relative;

	.ace-tm {
		overflow-x: hidden;
		position: relative;
	}
	.code_language {
		background-color: #ccc;
		@include border-radius(0 4px 0 4px);
		font-size: 80%;
		height: 1.5rem;
		padding: 1px 5px;
		position: absolute;
		right: 0px;
		top: 0px;
		@include transition(all .1s ease-in-out);
		z-index: 100;
		
	}
	&:hover .code_language {
		@include border-radius(4px);
		@include transform(0, -2em);
	}
}

pre.static_code {
	margin: 2px;
	white-space: pre-wrap;

	ol {
		margin: 2px;
		overflow-x: scroll;

		li {
			padding-right: 40px;
		}
	}
}