body {
	background-image: url_ver('../img/tile.png');
	background-size: 8px;
	color: $gray-light;
	font-family: sans-serif;
	font-size: 13px;
}

.container {
	min-height: 100%;
}

/* 	Content - Posts, Pages, Comments
	------------------------------------------------------- */

/* Content - Left Column */
.post-date {
	float: left;
	margin: 15px 15px 0 0;
	width: 40px;

	ul {
		list-style-type: none;
		text-align: right;
		padding: 0;
		margin: 0;
	}
	.day {
		font-family: 'SourceSansProSemiBold';
		font-size: 30px;
		font-weight: normal;
		line-height: 30px;

	}
	.month {
		font-family: 'SourceSansProSemiBold';
		font-size: 18px;
		line-height: 18px;
		text-transform: uppercase;
		margin-top: -5px;
	}
	.year {
		font-family: 'SourceSansProSemiBold';
		font-size: 14px;
		line-height: 14px;
		margin-top: -2px;
	}
}

/** Posts Default
 -------------------------------------------------- */

.date-title {
	color: #999;
	font-size: 12px;
	font-weight: normal;
	margin: 0;
	padding: 10px;
	text-transform: uppercase;
	width: 50px;
}

article {
	font-family: 'SourceSansProRegular';
	font-size: 15px;
	margin: 0;
	padding: 0;
	position: relative;
	width: 100%;

	.post-date a {
		color: $gray;
		text-decoration: none;
	}
}

.capsule-server .post-menu {
	display: none;
}
.post-menu {
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 7px;
	width: 35px;
	z-index: 100;
	
	a,
	span {
		display: none;
		height: 30px;
		font-family: $font-icon;
		font-size: 18px;
		text-align: center;
		text-decoration: none;
		width: 35px;
		@include transition(all .1s ease-in-out);
		&,
		&:visited {
			color: #bbb;
		}
	}
	a:hover {
		color: $gray;
	}
	.post-edit-link {
		padding-left: 2px;
	}
	.post-unsticky-link,
	.post-sticky-loading-link {
		display: none;
	}
}
.post-content:hover .post-menu a {
	display: block;

	&.post-unsticky-link {
		display: none;
	}
}
/* solid vs. outlined star icon */
.sticky .post-menu,
.sticky .post-content:hover .post-menu {
	.post-sticky-link {
		display: none;
	}
	.post-unsticky-link {
		display: block;
	}
}
.sticky-loading .post-menu,
.sticky-loading .post-content:hover .post-menu {
	.post-sticky-link,
	.post-unsticky-link {
		display: none;
	}
	.post-sticky-loading {
		display: block;
	}
}

nav.post-menu span.post-sticky-loading {
	height: 21px;
	margin-bottom: 9px;
	margin-left: 7px;
	overflow: hidden;
	width: 21px;
	-webkit-animation: Rotate 1250ms infinite linear;
	-moz-animation: Rotate 1250ms infinite linear;
	-ms-animation: Rotate 1250ms infinite linear;
	-o-animation: Rotate 1250ms infinite linear;
	animation: Rotate 1250ms infinite linear;
}
@-o-keyframes Rotate {
	from {-o-transform:rotate(0deg);}
	to {-o-transform:rotate(360deg);}
}
@-moz-keyframes Rotate {
	from {-moz-transform:rotate(0deg);}
	to {-moz-transform:rotate(360deg);}
}
@-ms-keyframes Rotate {
	from {-ms-transform:rotate(0deg);}
	to {-ms-transform:rotate(360deg);}
}
@-webkit-keyframes Rotate {
	from {-webkit-transform:rotate(0deg);}
	to {-webkit-transform:rotate(360deg);}
}
@-keyframes Rotate {
	from { transform:rotate(0deg);}
	to { transform:rotate(360deg);}
}

article.edit header .post-close-link {
	color: $white;
	font-family: $font-icon;
	font-size: 18px;
	height: 30px;
	overflow: hidden;
	padding-top: 5px;
	position: absolute;
	right: 0;
	text-align: center;
	text-decoration: none;
	top: 0;
	width: 30px;

	&:hover {
		opacity: 0.7;
	}
}

.spinner {
	left: 0;
	position: absolute;
	top: 0;

	span {
		display: none;
	}
}

/* Content styling */

.post-content {
	background: $white;
	border: 1px solid #adadad;
	min-height: 150px;
	overflow: auto;
	padding: 5px 35px 25px 25px;
	position: relative;

	h1, h2, h3, h4, h5, p {
		line-height: 140%;
		margin: 10px 0 0;
		padding: 0;
	}
	ul, ol {
		padding-left: 35px;
	}
	li {
		line-height: 140%;
	}
	h1 {
		font-size: 22px;
	}
	h2 {
		font-size: 20px;
	}
	h3 {
		font-size: 18px;
	}
	h4 {
		font-size: 16px;
	}
	h5 {
		color: #666;
		font-size: 15px;
		text-transform: uppercase;
	}
	hr {
		margin: 1.25em 2em;
	}
	blockquote {
		border-left: 3px solid #e8e8e8;
		margin-left: 24px;
		margin-right: 30px;
		padding-left: 9px;
	}
	a,
	a:visited {
		color: #666;
	}
	a:active,
	a:hover {
		color: #333;
	}
}

.content,
.edit {
	margin-top: 30px;
}

.unstyled {
	border: 0;
	@include box-shadow(none);
}

.save-indicator {
	float: right;
	margin: 2px 10px 0 0;
	visibility: hidden;
}

.saving .save-indicator {
	visibility: visible;
}

.post-dirty {
	color: #baa;
	visibility: hidden;
}

.dirty .post-dirty {
	visibility: visible;
}

/* Deleted */

.deleted {
	.post-content {
		background: transparent;
		border: none;
		color: #666;
		height: auto;
		margin-top: 30px;
		min-height: 0;
		padding-bottom: 0;
	}
	.msg {
		color: $gray;
		display: inline-block;
		font-family: 'SourceSansProRegular', Helvetica;
		font-size: 16px;
		margin-left: 30px;
		text-align: center;
	}
	.post-undelete-link {
		&,
		&:visited {
			background: $gray;
			color: $white;
			display: inline-block;
			font-size: 14px;
			margin-left: 12px;
			padding: 7px 13px 5px;
			text-decoration: none;
		}
	}
}

/* Content */

.status {
	background: #232323;
	top: 0;
	height: 30px;
	line-height: 25px;
	left: 0;
	position: absolute;
	right: 0;

	p {
		color: #787878;
		font-size: 13px;
		margin: 8px 0 0 9px;
	}
	.dirty-indicator,
	.saving-indicator {
		display: none;
		font-family: 'SourceSansProBold';
		margin-left: 7px;
	}
}
.dirty .dirty-indicator {
	display: inline;
}
.saving .dirty-indicator {
	display: none;
}
.saving .saving-indicator {
	display: inline;
}

.edit .post-content {
	background: $gray-light;
	border: 1px solid $gray;
	min-height: 200px;
	overflow: auto;
	padding: 30px 0 0;
}

.excerpt {
	.post-content {
		cursor: pointer;
		max-height: 230px;
		overflow: hidden;
		position: relative;
	}
}
.excerpt.sticky {
	.post-content {
		max-height: 150px;
	}
}
.toggleable {
	.post-toggle {
		bottom: 0;
		background-color: #fff;
		background-image: url_ver('../img/arrow-down.png');
		background-position: center center;
		background-size: 13px 6px;
		background-repeat: no-repeat;
		cursor: pointer;
		display: block;
		height: 20px;
		left: 0;
		position: absolute;
		width: 100%;

		&:hover {
			background-color: #f6f6f6;
		}
	}
}
.toggleable:not(.open):hover .post-toggle {
	background-color: #f6f6f6;
}

.open {
	.post-toggle {
		background-image: url_ver('../img/arrow-up.png');
	}
}
.edit,
.content {
	.post-meta {
		float: right;
		margin-top: 15px;
		padding: 0 0 0 15px;
		width: 142px;

		h3 {
			color: $gray;
			display: inline-block;
			font-family: 'SourceSansProBold';
			font-size: 14px;
			font-weight: bold;
			margin: 0 0 3px 0;
			line-height: 14px;
			text-transform: uppercase;
			width: 75px;
		}
		ul {
			padding: 0;
			margin: 0 0 20px;
		}
		li {
			list-style-type: none;
			margin-bottom: 2px;

			&:last-of-type {
				margin-bottom: 0;
			}

			a {
				font-size: 14px;
				line-height: 14px;
				text-decoration: none;
				text-shadow: none;
			}
		}
	}
}

.post-meta a {
	&,
	&:visited {
		color: $gray;
		font-family: 'SourceSansProRegular';
		font-size: 16px;
		line-height: 20px;
	}
}

.post-content .ace-editor {
	position: relative;
	height: 400px;
	width: 100%;
}

.post-content .ace-twilight .ace_gutter {
	color: #676767;
}

.post-content .editor-padding {
	background: #232323;
	height: 3px;
}

.search-no-results-msg {
	color: #999;
	font-family: 'SourceSansProRegular';
	font-size: 22px;
	padding-top: 200px;
	text-align: center;
}
.filters-on .search-no-results-msg {
	padding-top: 75px;
}

/* Code */

pre, code {
	color: $gray;
	font-family: 'SourceCodeProRegular', monospace;
	font-size: 13px;
}

/* Static code */

.static_container {
	background-color: #eee;
	margin: 10px 0;
	padding-top: 3px;
	position: relative;

	.ace-tm {
		overflow-x: hidden;
		position: relative;
	}
	.code_language {
		background-color: #eee;
		color: #666;
		font-size: 11px;
		padding: 3px 5px;
		position: absolute;
		right: 0px;
		text-transform: uppercase;
		top: 0px;
		@include transition(all .1s ease-in-out);
		z-index: 50;
		
	}
	&:hover .code_language {
		@include transform(0, -1em);
	}
}

pre.static_code {
	margin: 0;
	white-space: pre-wrap;

	ol {
		margin: 0;
		overflow-x: scroll;

		li {
			padding-right: 40px;
		}
	}
}
