// --------------------------------------------------
// Global Footer: featured links, site map links, legal
// --------------------------------------------------

footer {
	background: none;
	clear: both;
	height: 30px;
	margin-top: -50px;
	position: relative;
	
	p {
		color: #999;
		text-align: center;
		
		a {
			color: #888;
			text-decoration: none;
		}
		a:hover {
			color: #777;
		}
	}
}
