// --------------------------------------------------
// Global Footer: featured links, site map links, legal
// --------------------------------------------------


footer {
	background: none;
	clear:both;
	height: 30px;
	margin-top: -50px;
	position: relative;
} 

.footer-logo {
	width: 180px;
	height: 28px;
	background: url(../svg/cf-logo.svg) no-repeat;
	float: right;
	margin-right: 24px;
}







