// --------------------------------------------------
// Header: masthead, navigation, search
// --------------------------------------------------

#header {
	margin: 0;
	
	.inner {
		border-bottom: 1px solid #adadad;
		height: 50px;
		padding: 14px 0 0 0;
		width: 100%;
	}
	h1 {
		float: left;
		line-height: 0em;
	}
	form.search {
		display: block;
		float: right;

		input {
			background: $white url_ver('../img/search.png') no-repeat 8px 50%;
			border: 1px solid #ababab;
			color: #333;
			font-family: 'SourceSansProRegular';
			height: 29px;
			padding: 3px 0 0 30px;
			width: 258px;
			
			&[type="submit"] {
				display: none;
			}
		}
	}
	.filter {
		display: none;
	}
}

/* 	Main Navigation
	------------------------------------------------------- */

.main-nav {
	background: $gray;
	bottom: 0;
	-moz-box-shadow: inset -1px 0px 0px #000;
	-webkit-box-shadow: inset -1px 0px 0px #000;
	box-shadow: inset -1px 0px 0px #000;
	padding-top: 30px;
	position: fixed;
	top: 0;
	width: 72px;
	z-index: 100;
	

	ul {
		position: relative;

		/* 	Project Link */
		li {
			position: relative;
			
			a {
				display: block;
				padding: 4px 0 4px 0;
				@include transition;
				&:hover {
					background-color: $gray-dark;
					text-decoration: none;
				}
			}
		}
	}
}

/* 	Pagination Links
------------------------------------------------------- */

.meta-nav {
	display: none;
}
.pagination {
	display: block;

	.nav-previous {
		float: right;
		margin-right: 157px;
		margin-top: 23px;
	}
	.nav-next {
		float: left;
		margin-left: 55px;
		margin-top: 23px;
	}
	a {
		color: $gray;
		font-family: 'SourceSansProRegular', Helvetica;
		font-size: 20px;
		text-shadow: 1px 1px $white;
		&:visited {
			color: $gray;
		}
		&:hover {
			color: $black;
		}
	}
}
.nav-previous a {
	background: transparent url_ver('../img/arrow-right.png') no-repeat 100% 25%;
	padding-right: 20px;
}
.nav-next a {
	background: transparent url_ver('../img/arrow-left.png') no-repeat 0% 25%;
	padding-left: 20px;
}

/* 	Page Headers
------------------------------------------------------- */

.page-title {
	color: $gray;
	font-family: 'SourceSansProRegular';
	font-weight: normal;
	margin: 0;
	padding: 26px 0 0 0;
	text-shadow: 1px 1px $white;

	em {
		font-family: 'SourceSansProSemiBold';
		font-style: normal;
		font-weight: bold;
	}
}
